.header {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 20px;
}

.profileImage {
  border: 4px solid #311d39;
}

.headerInfo h1 {
  font-size: 2.5em;
  color: #2c3e50;
}

.headerInfo h2 {
  font-size: 1.5em;
  color: #7f8c8d;
}
