.container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profileImage {
  border-radius: 50%;
  margin-right: 30px;
}

.contactInfo p {
  display: flex;
  align-items: center;
}

.experienceItem {
  margin-bottom: 20px;
}

.toolsCategory {
  margin-bottom: 20px;
}

.toolsCategory ul {
  list-style: none;
  padding: 0;
}

.toolsCategory li {
  padding: 10px 0;
}
